= provide(:title, 'Home')

.splash
  %h1 Creatief Schrijven is hét aanspreekpunt voor iedereen die schrijven niet laten kan
  = link_to 'Schrijf je in op onze nieuwsbrief »', '#'
  %br/

.home-nieuws
  %h2= link_to 'Dichten in de Prinsentuin'
  %p
    Van 25 tot en met 27 juli vindt de 15de editie van Poëziefestival Dichters in de Prinsentuin plaats in Groningen. Wil je je eigen gedichten voordragen voor een groot en geïnteresseerd publiek, dan is dit je kans. Schrijf je voor 1 maart in, en wie weet sta jij op 26 of 27 juli in de loofgangen van de Prinsentuin. Het festival geeft jaarlijks een podium aan 80 bekende en minder bekende dichters. Ben je er nog niet geweest, dan geeft dit filmpje je een idee van wat je mag verwachten.
    = link_to 'Lees meer', '#'
	
  %h2= link_to 'Gratis workshop poëzie on stage'
  %p
    Is je poëzie klaar voor de stap naar een levensecht publiek? Stijn Vranken en Koen de Smet helpen je om in groep een boeiende voorstelling te maken. Die brengen jullie tijdens de opening van de tentoonstelling Divers Pluimage op zaterdag 28 april (Oude Beurs, Hofstraat 15, 2000 Antwerpen) De tentoonstelling kadert heeft plaats binnen het Liefhebber Amateurkunstenfestival 2012.
    = link_to 'Lees meer', '#'
	
  = link_to 'Meer nieuwsberichten', '#'


.acties
  #schrijfcursussen
    %h3
      %strong Schrijfcursussen
    %p
      = link_to 'Op zoek naar een cursus? »', '#'
      %ul
        %li= link_to 'Zakelijk Schrijven', '#'
        %li= link_to 'Schrijven voor het web', '#'
        %li= link_to 'Poëzie voor beginners', '#'
  #schrijfwedstrijden
    %h3
      %strong Schrijfwedstrijden
    %p
      = link_to 'Op zoek naar een wedstrijd? »', '#'
      %ul
        %li= link_to 'Haikuwedstrijd', '#'
        %li= link_to 'Kunstbende TXT', '#'
        %li= link_to 'Prijzen van de provincie Oost-Vlaanderen voor Letterkunde', '#'
			
  #informatie
    %h3
      %strong Informatie
    %p
      Hier vind je snelle links naar informatie over:
      %ul
        %li= link_to 'Manuscriptbeoordeling', '#'
        %li= link_to 'Print On Demand uitgevers', '#'
        %li= link_to 'Schrijfdocentenopleiding', '#'