.row
	.span6
		= form_for(@post, :url => admin_posts_path) do |f|
			= render 'layouts/shared/error_messages'
			= f.label "Titel"
			= f.text_field :title
			
			= f.label "Bericht"
			= f.text_area :body, :class => "tinymce"
			= tinymce
			%br/
			= f.submit "Opslaan"