= provide(:title, 'Nieuws')

%h1 Nieuws

- @posts.each do |post|
		.news_item
		%h2.post_title= post.title
		.date= post.publish_date.strftime("%d/%m/%Y")
		.news_teaser= raw(post.teaser)
		.news_body= raw(post.body)